.navbar {
    background-color: var(--spec-primary);
}

.logo__link {
    display: flex;
    align-items: center;
}
.logo__img {
    width: 79px;
    height: 20px;
    
}

@media(min-width: 600px) {
    .navbar .logo__img {
        width: 118px;
        height: 30px;
    }
}